*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffd66f;
}

.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: #125641;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(99, 32, 40, 0);
}

span{
    
}




